@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RecipeName)
  @Html.TextBoxFor(model => model.RecipeName)
  <br>
  <br>
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <br>
  <br>
  @Html.LabelFor(model => model.Instructions)
  @Html.TextAreaFor(model => model.Instructions, 5, 40, null)
  <br>
  <br>

// ADD RATING FOR RECIPE //

  <input type="submit" value="Add new category" />
}
<p>@Html.ActionLink("Show all categories", "Index")</p>