@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new recipe</h4>
<hr><br>

<p>@Html.ValidationMessageFor(model => model.RecipeName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RecipeName, "Recipe Name")<br>
  @Html.TextBoxFor(model => model.RecipeName)
  <br>
  <br>
  @Html.LabelFor(model => model.Description)<br>
  @Html.TextBoxFor(model => model.Description, new { required = "required" })
  <br>
  <br>
  @Html.LabelFor(model => model.Instructions)<br>
  @Html.TextAreaFor(model => model.Instructions, 5, 40, null)
  <br>
  <br>
  @Html.LabelFor(model => model.Rating)<br>
  @Html.TextBoxFor(model => model.Rating, new {@type="number", required = "required"})<br>
  <br>
  <input type="submit" value="Add new recipe" class="btn btn-light" />
}
<hr><br>
<p>@Html.ActionLink("Show all recipes", "Index", "Recipes", null, new { @class = "btn btn-light" })</p>