@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe;
@using RecipeBox.Models;
@using System.Collections.Generic;

<h2>Recipe Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.RecipeName): <em>@Html.DisplayFor(model => model.RecipeName)</em></h3>

<h3>@Html.DisplayNameFor(model => model.Description): <em>@Html.DisplayFor(model => model.Description)</em></h3>

<h3>@Html.DisplayNameFor(model => model.Instructions): <em>@Html.DisplayFor(model => model.Instructions)</em></h3>

<!-- ADD RATING FOR RECIPE -->

@if(@Model.JoinIngredientRecipeEntities.Count == 0)
{
  <p>This recipe does not have any ingredients listed yet!</p>
}
else
{
  <h4>Ingredients used in this recipe:</h4>
  <ul>
    @foreach (IngredientRecipe join in Model.JoinIngredientRecipeEntities)
    {
      <li>Ingredient: @join.Ingredient.IngredientName</li>
      @using (Html.BeginForm("DeleteJoin", "Recipes"))
      {
        @Html.Hidden("joinId", @join.IngredientRecipeId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

@if(@Model.JoinRecipeTagEntities.Count == 0)
{
  <p>This recipe does not have any tags yet!</p>
}
else
{
<h4>Tags for this recipe:</h4>
<ul>
    @foreach (RecipeTag join in Model.JoinRecipeTagEntities)
    {
      <li>Tag: @join.Tag.Title</li>
      @using (Html.BeginForm("DeleteTagJoin", "Recipes"))
      {
        @Html.Hidden("joinId", @join.RecipeTagId)
        <input type="submit" value="Delete"/>
      }
    }
</ul>
}

<p>@Html.ActionLink("Back to Recipes", "Index")</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add ingredient", "AddIngredient", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add tag", "AddTag", new { id = Model.RecipeId })</p>