@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient;

<h2>Add an ingredient</h2>
<hr>

<p>@Html.ValidationMessageFor(model => model.IngredientName, "", new { @class = "text-danger", @style = "font-weight: 600" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.IngredientName, "Ingredient:")<br>
  @Html.TextBoxFor(model => model.IngredientName, new { placeholder = "Whole wheat pasta", style="font-style:italic"})<br>
  <br>
  <input type="submit" value="Add new ingredient" class="btn btn-light"/>
}
<hr><br>
<p>@Html.ActionLink("Show all ingredients", "Index", "Ingredients", null, new { @class = "btn btn-light" })</p>
<p>@Html.ActionLink("Create a new recipe", "Create", "Recipes", null, new { @class = "btn btn-light" })</p>