@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h2>Edit</h2>

<h4>Edit this ingredient: @Html.DisplayFor(model => model.IngredientName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.IngredientId)

  @Html.LabelFor(model => model.IngredientName, "Ingredient: ")
  @Html.EditorFor(model => model.IngredientName)

  <input type="submit" value="Save" />
}
<hr><br>
<p>@Html.ActionLink("Back to list", "Index", "Ingredients", null, new { @class = "btn btn-light" })</p>