@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

<h1>Ingredients for @User.Identity.Name</h1>
<hr>

<div class="card">
@if (@Model.Count == 0)
{
  <h3>No ingredients have been added yet!</h3>
} 
else
{
  <h6 class="card-header">Ingredients</h6>
  <ul>
    @foreach (Ingredient ingredient in Model)
    {
          <li>@Html.ActionLink($"{ingredient.IngredientName}", "Details", new { id = ingredient.IngredientId })</li>
    }
  </ul>
}
</div>
<hr><br>

<p>@Html.ActionLink("Add new ingredient", "Create", "Ingredients", null, new { @class = "btn btn-light" })</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home", null, new { @class = "btn btn-light" })</p>