@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Edit</h2>

<h4>Edit this tag: @Html.DisplayFor(model => model.Title)</h4>

<p>@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TagId)

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    <input type="submit" value="Save" />
}
<hr><br>
<p>@Html.ActionLink("Back to list", "Index", "Tags", null, new { @class = "btn btn-light"})</p>